<div
  class="flex flex-col p-3 duration-300 border shadow-lg dark:shadow-none border-muted-grey dark:border-white motion-safe:transition rounded-xl aspect-square contrast-more:border-black contrast-more:shadow-none"
>
  <slot />
</div>
